.rightbar-container {
  flex: 4;
}

.search-bar {
  margin: 10px 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: rgb(223, 221, 221);
  border-radius: 20px;
}

.search-input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 16px;
  margin-left: 10px;
}

.footer {
  padding: 15px 30px;
  line-height: 1.5;
  color: #555;
  font-weight: 200;
  font-size: 14px;
}

@media screen and (max-width: 680px) {
  .rightbar-container {
    display: none;
  }
}
